body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 7vh;
}
.header-img{
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.nav{
    display: flex;
    margin: 1vh 10vw;
     justify-content: space-between;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
   font-size: large;
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding-left: 30px;
    list-style-type: none ;
    color: white;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color: white;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.logo{
    width: 20vw;
}
.head h3{
    font-size: 32px;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search{
    display: flex;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
}
.search p{
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}
.search i:first-child{
    font-size: 20px;
    color: rgb(252, 119, 163);
    padding-left: 10px;
    padding-right: 10px;
}
.search i{
    color: gray;
    padding-left: 10px;
}
.h{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}
.box{
    position: relative;
    width: 265px;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0  1px 2px gray;
    background-color: rgb(245, 242, 242);
}
.box img{
    width: 265px;
    border-radius: 10px;
    z-index:-1;
    border: 1px solid gray;
    
}
.order{
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: white;
    width: 100%;
    height: 25%;
    z-index: 2;
}
.order p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(56,56,56);
    letter-spacing: 0.7px;
}
.h-2, .end{
    margin: 60px 100px;

}
.h-2-head h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 10px;

}
.h-2-head div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.h-2 p{
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(99,98,98);


}
.h-2-head span,.fa-solid fa-caret-right{
    color:rgb(227, 102, 102) ;
    
}
.box-1{
   
    width: 255px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.box-1 div{
    position: absolute;
    background: linear-gradient(transparent,black);
    width: 100%;
    height:25%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
}
.box-1 div span:first-child{
  display: inline-block;
  color: #ffff;
  padding-left: 15px;
  font-size: 1rem;
  padding-bottom: 10px;

}
.box-1 i{
    color: #ffff;
    padding-bottom: 15px;

}
.box-1 img{
    width: 255px;
    height: 300px;
    object-fit: cover;
}
.h-3{
    display: flex;
    margin-top: 30px;
    margin-bottom: 130px;
    justify-content: space-between;
}
.h-4{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-left: auto;
}
.h-4-head{
    font-size: large;
    line-height: 1.2;
    font-weight: 400px;
}
.h-4-head p{
    font-size: 2rem;
}
.h-4 .h-4-container .h-4-items{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-between;
}
.h-4 .h-4-container .h-4-items .h-4-item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(215, 215,215);
    padding: 20px;
}
.h-4-item .item-head{
 font-size: large;
 color: black;
 margin: 0%;
 margin-bottom: 5px;
 padding-right:15px ;
 display: inline-block;

}
.h-4-item .item-subhead{
    font-size: medium;
    font-weight: lighter;
    color: gray;
}
.h-5{
    display: flex;
    margin: 90px 0;
    padding: 40px 0;
    justify-content: center;
    background-color: rgb(255,248, 248);

}
.flex{
    display: flex;
   
}
.contact{
    width: 760px;
    overflow: hidden;
}
.contact img{
    width: 300px;
    height: 450px;
    padding-right: 40px;
}
.address{
    width: 470px;
    margin-top: 20px;
    padding-left: 10px;

}
.address p{
    padding-bottom:10px ;
    font-size: 0.95rem;
    color: rgb(92, 91, 91);
}
.address h1{
    font-size: 2.0rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}
.radio{
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
    padding-bottom: 20px;
}
.radio label{
    font-size: 1.1rem;
    color: rbg(49,49,49);
}
.radio[type="radio"]{
    accent-color: rgb(255,92,92);
}
.email{
   position: relative;
}
.email input{
    height: 46px;
    border-radius: 5px;
    width: 270px;
    border:1px solid rgb(184, 183, 183); 
    outline: rgb(255,92,92);
    font-size: 1.3rem;
    padding-left: 15px;
}
.place{
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color: gray;
    font-weight: lighter;
}
.email button{
    width: 200px;
    display:inline-flexbox;
    border-radius: 6px;
    border:1px solid rgb(255,104, 104);
    background-color: rgb(255,104, 104);
    font-size: 15px;
    margin-left: 6px;
    color: #ffff;
}
.download{
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom:0 ;
    color: gray;
}
.app img{
    width: 137px;
    height: 40px;
}
.h-6{
    margin-bottom: 110px;
}
.h-6 h1{
    font-size: 1.9rem;
    font-weight: lighter;
    color: rgb(31, 31, 31);
}
.h-6 h4{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: lighter;
    color:rgb(31, 31, 31);
} 
.h-6 a{
    text-decoration: none;
    color: gray;
    font-size: 0.95rem;
}
.h-6 i{
    font-size: 0.3rem;
    padding: 6px 5px;
    color: gray;
}
.end-column a{
    width: 190px;
    font-size: 1rem;
    font-weight: lighter;
    display: inline-block;
    margin: 15px 0;
     
}
.first img{
    width: 128px;
    height: 32px;

}
.h-7{
    padding: 40px 120px;
    background-color: rgb(254,244, 253);

}
.first{
    display: flex;
    justify-content:space-between;
}
.first-1{
    display: flex;
}
.first-1 span{
    padding: 10px;
    border: 1px solid black;
    margin-right: 20px;
    font-weight: 400;
}
.second{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    margin-left: 50px;
}
.second hr{
    font-weight: lighter;
    color: rgb(22, 22, 22);
    white-space: nowrap;
}
.second a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.signup{
    text-align: center;
    font-size: large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.k{
   padding-left: 10px; 
    justify-content: center;
    width: 380px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;

}
.form{
    border: 1px solid black;
justify-content: center;
    padding-bottom: 30px;
    padding-left: 60px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    margin-top: 20px;
   background-color:rgb(254,244, 253);
   position: relative;

    box-shadow: 0 2px 5px gray;
}
.u{
    color: black;
    font-size: large;
    font-weight: lighter;
    text-align: center;
}
.bg{
  background-color:-webkit-linear-gradient(left, #9896F0,#FBC8D5);
}
.h2{
    text-align: center;

}
.b{
    width: 200px;
    display:inline-flexbox;
    border-radius: 6px;
    padding-top: 1vh;
    background-color: gray;
    font-size: 15px;
    margin-left: 6px;
    color: #ffff;
    align-items: center;
    
}

.sec-1{
    padding: 30px 120px;
    background-color: rgb(254,244, 253);

}
.o-1{
    display: flex;
    justify-content:space-between;
}
.sign{
    display: flex;
}
.sign a{
    padding: 10px;
   width: 50px;
    margin-right: 20px;
    font-weight: 400;
    color: gray;
}
.sign a li{
    text-decoration: none;
    list-style-type: none;
}
.search-1{
    display: flex;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
    border: 1px solid white;
}
.search-1 input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
}
.search-1 p{
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}
.search-1 i:first-child{
    font-size: 20px;
    color: rgb(252, 119, 163);
    padding-left: 10px;
    padding-right: 10px;
}
.search-1 i{
    color: gray;
    padding-left: 10px;
}
.sec-2{
    display:list-item;
    padding: 40px 60px;
    color: gray;
    border: 0.5px ;
    background-color: rgb(240, 232, 232);
    
}
.sec-2 p{
    font-size: 5vh;
    color: black;

}
.sec-2 img{
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 150px;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 2vh;
    border: 1px solid ;
    
}
.z{
    background-color: #ffff;
    padding-bottom: 7%;
    border: 0.2px solid rgb(240, 232, 232) ;
}
.y{
    padding:40px 60px; 
    margin-bottom: 0;
}
.sec-3{
    margin-top: 0px;
    padding: 40px 60px;
   
    
}
.sec-3-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
   
}
    


.sec-3-feature{
    overflow: hidden;
    padding-right: 15px;
   margin: 3px 10px;
    border-radius: 20px;
    border: 0.2px solid gray;
   
}
.feature-image{
    width: 380px;
    height: 220px;
    overflow: hidden;
    justify-content: space-around;
    z-index: 2;
}
.feature-image  img{
width: 100%;
background-position:  100%; 
white-space: 50px;

}
.sec-3-feature h3, 
.sec-3-feature span{
  padding-left: 20px;
  justify-content: center;
  
}
.sec-3-feature:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    
}
.x h1{
    margin:15px 335px;
}
.n{
    padding: 30px 40px;
    justify-content: center;
}
.n input{
    margin: 15px 320px;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
} 
.n button{
    text-align: center;
    width: 150px;
    height: 30px;
    padding: 30px 15px;
    margin: 15px 45%;
    border-radius: 5px;
    color: white;
    background-color: rgb(203, 31, 75);

}
.con{
    display: inline-block;
    justify-content: space-between;
}
.rep{
    width: 350px;
    height: 150px;
    display:inline-block;
    
    text-align:center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px;
    overflow: hidden;
    margin-left: 195px;
    padding-left: 10px;
    
}